%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% == Core ==

%% Additional library directories to add to the code path
{lib_dirs, ["deps"]}.

{sub_dirs, ["rel"]}.

%% == Erlang Compiler ==

%% Erlang compiler options
{erl_opts, [{i, "include"}, debug_info]}.

%% == EUnit ==

%% Options for eunit:test()
%%{eunit_opts, []}.

%% Additional compile options for eunit. erl_opts from above is also used
%%{eunit_compile_opts, []}.

%% Whether to enable coverage reporting. Default is `false'
%%{cover_enabled, false}.

%% == Dialyzer ==

%% Options for running the dialyzer, right now only `plt' is supported
%%{dialyzer_opts, []}.

%% == Reltool ==

%% Target directory for the release
{target, "target"}.

%% == OTP Applications ==

%% Binaries to link into the erlang path?
%% {app_bin, []}.

%% == Dependancies ==

{deps_dir, ["deps"]}.

{deps,  [
%            {misultin, ".*", {git, "http://github.com/ostinelli/misultin.git", "master"}}
            {mochiweb, ".*", {git, "http://github.com/mochi/mochiweb.git", "master"}}
        ]}.

