%% -*- erlang -*-

[{genstore,
  [
    {misultin, [ 
    	{ip, "0.0.0.0"},
	{port, 8000},
	{handler, gs_request_handler, handle_request}
    ]}
  ]
 }
% ,{sasl, [
%	{errlog_type, error},
%	{sasl_error_logger, {file, "log/sasl_errors.log"}},
%	{error_logger_mf_dir, "log/reports"},
%	{error_logger_mf_maxbytes, 1024},
%	{error_logger_mf_maxfiles, 10}
%  ]}
].
