%% -*- erlang -*-

[{genstore,
  [
    {mochiweb, [ 
        {ip, "127.0.0.1"},
	{port, 8000},
        {name, gs_http},
	{loop, {gs_request_handler, handle_request}}
    ]},
    {max_chains, 10},
    {timeout, 1} % seconds
  ]
 }
% ,{sasl, [
%	{errlog_type, error},
%	{sasl_error_logger, {file, "log/sasl_errors.log"}},
%	{error_logger_mf_dir, "log/reports"},
%	{error_logger_mf_maxbytes, 1024},
%	{error_logger_mf_maxfiles, 10}
%  ]}
].
